# idea and kotlin compiler
*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea/*
!.idea/runConfigurations
!.idea/icon.svg
.DS_Store
captures
.externalNativeBuild
.cxx

# Xcode
iosApp/Pods/*
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*/*.podspec
